html {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
object {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
a {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
abbr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
big {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
cite {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
del {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dfn {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
font {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ins {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
small {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
strike {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
strong {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
sub {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
sup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
var {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
u {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
i {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
legend {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tbody {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tfoot {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
thead {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
body {
	color: rgb(85, 85, 85); font-family: Dotum,"µ¸¿ò",gulim,"±¼¸²","Malgun Gothic","Droid Sans","Helvetica","Apple-Gothic","¾ÖÇÃ°íµñ","Tahoma","sans-serif"; font-size: 12px;
}
input {
	color: rgb(85, 85, 85); font-family: dotum,"µ¸¿ò",gulim,"±¼¸²","Malgun Gothic","Droid Sans","Helvetica","Apple-Gothic","¾ÖÇÃ°íµñ","Tahoma","sans-serif"; font-size: 12px;
}
select {
	color: rgb(85, 85, 85); font-family: dotum,"µ¸¿ò",gulim,"±¼¸²","Malgun Gothic","Droid Sans","Helvetica","Apple-Gothic","¾ÖÇÃ°íµñ","Tahoma","sans-serif"; font-size: 12px;
}
textarea {
	color: rgb(85, 85, 85); font-family: dotum,"µ¸¿ò",gulim,"±¼¸²","Malgun Gothic","Droid Sans","Helvetica","Apple-Gothic","¾ÖÇÃ°íµñ","Tahoma","sans-serif"; font-size: 12px;
}
form legend {
	width: 0px; height: 0px; text-indent: -9999px; font-size: 0px;
}
caption {
	width: 0px; height: 0px; text-indent: -9999px; font-size: 0px;
}
img {
	border: 0px currentColor; border-image: none;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
iframe {
	border: 0px currentColor; border-image: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
div {
	border-collapse: collapse; border-spacing: 0;
}
select {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(85, 85, 85); font-size: 12px; vertical-align: middle;
}
textarea {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(85, 85, 85); font-size: 12px; vertical-align: middle;
}
textarea {
	border-color: rgb(221, 221, 221); color: rgb(85, 85, 85); overflow: auto; padding-left: 3px; font-size: 12px; background-color: rgb(249, 249, 249);
}
select {
	text-align: left; vertical-align: bottom;
}
input {
	text-align: left; vertical-align: bottom;
}
img {
	text-align: left; vertical-align: bottom;
}
li {
	text-align: left; vertical-align: bottom;
}
input {
	vertical-align: middle;
}
img {
	
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
strong {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
}
ol {
	list-style-type: none;
}
hr {
	border: 1px solid rgb(241, 240, 240); border-image: none; border-collapse: collapse;
}
a {
	color: rgb(85, 85, 85); text-decoration: none; display: inline-block;
}
span {
	display: inline-block;
}
li {
	white-space: normal;
}
p {
	white-space: normal;
}
dt {
	white-space: normal;
}
dd {
	white-space: normal;
}
div {
	white-space: normal;
}
span {
	white-space: normal;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
strong {
	font-weight: bold;
}
select {
	padding: 2px;
}
label {
	cursor: pointer;
}
button {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; cursor: pointer;
}
.cb {
	clear: both !important;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.tc {
	text-align: center !important;
}
.tl {
	text-align: left !important;
}
.tr {
	text-align: right !important;
}
.btn {
	margin: 20px auto 0px; text-align: center; overflow: hidden; clear: both;
}
.btn_right {
	margin: 20px auto 0px; text-align: right; overflow: hidden; clear: both;
}
.btn_left {
	margin: 20px auto 0px; text-align: left; overflow: hidden; clear: both;
}
.vt {
	vertical-align: top !important;
}
.vm {
	vertical-align: middle !important;
}
.over_h {
	overflow: hidden !important;
}
.block {
	display: block !important;
}
.text_input {
	padding: 3px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(85, 85, 85); font-size: 12px; background-color: rgb(249, 249, 249);
}
.text_input_none {
	padding: 4px; border: currentColor; border-image: none; color: rgb(85, 85, 85); font-size: 12px; background-color: rgb(255, 255, 255);
}
.text_type {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(85, 85, 85); font-size: 12px; background-color: rgb(255, 255, 255);
}
.mgn {
	margin: 0px !important;
}
.mgt3m {
	margin-top: -3px !important;
}
.mgt5m {
	margin-top: -5px !important;
}
.mgt3 {
	margin-top: 3px !important;
}
.mgt5 {
	margin-top: 5px !important;
}
.mgt8 {
	margin-top: 8px !important;
}
.mgt10 {
	margin-top: 10px !important;
}
.mgt20 {
	margin-top: 20px !important;
}
.mgl10 {
	margin-left: 10px !important;
}
.mgl15 {
	margin-left: 15px !important;
}
.mgr10 {
	margin-right: 10px !important;
}
.mgb5 {
	margin-bottom: 5px !important;
}
.mgb10 {
	margin-bottom: 10px !important;
}
.mgb20 {
	margin-bottom: 20px !important;
}
.mgb30 {
	margin-bottom: 30px !important;
}
.pdn {
	padding: 0px !important;
}
.pd10 {
	padding: 10px !important;
}
.pdr10 {
	padding-right: 10px !important;
}
.pdl10 {
	padding-left: 10px !important;
}
.pdb10 {
	padding-bottom: 10px !important;
}
.bdn {
	border: 0px currentColor !important; border-image: none !important;
}
.bdr {
	border-right-color: currentColor !important; border-right-width: 0px !important; border-right-style: none !important;
}
.red {
	color: rgb(220, 0, 0) !important;
}
.yellow {
	color: rgb(246, 255, 0) !important;
}
.light_gray {
	color: rgb(153, 153, 153) !important;
}
.orange {
	color: rgb(255, 102, 0) !important;
}
.blue {
	color: rgb(49, 145, 183) !important;
}
.red11 {
	color: rgb(220, 0, 0) !important; font-size: 11px !important;
}
.font11 {
	font-size: 11px !important;
}
.font14 {
	font-size: 14px !important;
}
.font18 {
	font-size: 18px !important;
}
.letter-1 {
	letter-spacing: -1px !important;
}
.ellipsis {
	width: 100%; overflow: hidden; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
#wrap {
	width: 100%; position: relative;
}
#wrap_pop {
	margin: 0px; padding: 20px; width: auto; overflow: hidden; position: relative;
}
#header {
	background: url("../imgs/top/topBg_red.gif") repeat-x 0px 38px; left: 0px; top: 0px; width: 100%; height: 146px; overflow: hidden; position: fixed; z-index: 9999;
}
#header #admininfo {
	padding: 0px 16px; height: 40px; color: rgb(255, 255, 255);
}
#header #admininfo ul {
	overflow: hidden; padding-top: 13px;
}
#header #admininfo ul li.admin {
	background: url("../imgs/icon/icon_arrow_white.gif") no-repeat left 3px; color: rgb(255, 255, 255); padding-left: 12px; font-size: 11px; float: left;
}
#header #admininfo ul li.s_menu {
	background: url("../imgs/icon/icon_squar_white.gif") no-repeat left 6px; color: rgb(203, 203, 203); padding-left: 12px; font-size: 11px; float: right;
}
#header #admininfo ul li.s_menu img {
	vertical-align: middle;
}
#header #menu {
	height: 40px; overflow: hidden;
}
#header #menu ul {
	overflow: hidden; margin-left: 20px;
}
#header #menu ul li {
	float: left;
}
#header #menu ul li a {
	background: url("../imgs/top/menu_line.gif") no-repeat right; padding: 14px 26px 11px; color: rgb(204, 204, 204); font-size: 12px; font-weight: bold; float: left;
}
#header #menu ul li a:hover {
	background: url("../imgs/top/bg_red.gif") repeat-x left top; padding: 13px 22px 12px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; float: left;
}
#header #menu ul li a.over {
	background: url("../imgs/top/bg_red.gif") repeat-x left top; padding: 13px 22px 12px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; float: left;
}
#footer {
	clear: both; margin-top: 50px; border-top-color: rgb(216, 216, 216); border-top-width: 1px; border-top-style: solid;
}
#footer p {
	padding: 20px 0px; text-align: center; color: rgb(84, 84, 84); font-size: 12px;
}
#container_main {
	width: 1081px; overflow: hidden;
}
#container {
	overflow: hidden; min-width: 1031px;
}
h2 {
	padding: 18px 10px 6px; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold;
}
#aside {
	padding: 146px 0px 0px; width: 170px; overflow: hidden; margin-right: 10px; margin-left: 10px; float: left;
}
#aside dl {
	padding: 4px 5px 15px; font-size: 11px; border-top-color: rgb(110, 110, 110); border-bottom-color: rgb(110, 110, 110); border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid;
}
#aside dl dt {
	background: url("../imgs/icon/left_dot.gif") no-repeat 5px 13px; padding: 12px 0px 4px 18px; letter-spacing: -0.1em;
}
#aside dl dd {
	background: rgb(238, 238, 238); padding: 5px 0px 5px 18px; line-height: 16px; letter-spacing: -0.1em;
}
#contents_pop {
	margin: 0px; padding: 20px; width: auto; overflow: hidden; float: left;
}
#contents_main {
	margin: 0px 0px 0px 20px; padding: 146px 20px 50px; width: 850px; overflow: hidden; border-left-color: rgb(235, 235, 235); border-left-width: 1px; border-left-style: solid;
}
#contents {
	margin: 0px 0px 0px 20px; padding: 146px 20px 50px; width: auto !important; overflow: hidden; border-left-color: rgb(235, 235, 235); border-left-width: 1px; border-left-style: solid; min-width: 800px;
}
#contents_100 {
	margin: 0px; padding: 146px 20px 50px; width: auto !important; overflow: hidden; min-width: 800px;
}
h3 {
	background: url("../imgs/icon/title_icon.gif") no-repeat left 1px; padding: 3px 0px 0px 20px; height: 31px; color: rgb(0, 0, 0); font-size: 16px; float: left;
}
ul.navi {
	padding: 8px 8px 0px 0px; float: right;
}
ul.navi li {
	background: url("../imgs/icon/icon_naviStep.gif") no-repeat left; padding: 0px 6px 0px 10px; color: rgb(133, 133, 133); font-size: 11px; float: left;
}
ul.navi li.on {
	background: url("../imgs/icon/icon_naviStep.gif") no-repeat left; padding: 0px 6px 0px 10px; color: rgb(51, 51, 51); font-size: 11px; float: left;
}
ul.navi li.home {
	background: none; padding: 0px 8px 0px 0px; color: rgb(133, 133, 133); font-size: 11px; float: left;
}
ul.navi li.home a {
	color: rgb(133, 133, 133);
}
ul.helpbox {
	padding: 12px 14px 10px; border: 3px solid rgb(221, 224, 229); border-image: none; overflow: hidden; clear: both; margin-bottom: 20px;
}
ul.helpbox li {
	background: url("../imgs/icon/icon_squar_gray2px.gif") no-repeat 0px 6px; padding: 0px 0px 0px 8px; color: rgb(102, 102, 102); line-height: 16px; font-size: 11px;
}
.section_head {
	text-align: left; color: rgb(68, 68, 68); font-size: 12px; margin-top: 20px; position: relative;
}
.section_head::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.section_head h4 {
	background: url("../imgs/icon/point.gif") no-repeat left 5px; margin: 0px; height: 25px; line-height: 25px; padding-left: 17px; font-size: 12px; font-weight: bold; float: left;
}
.section_head h4 em {
	line-height: 11px; font-size: 11px; font-weight: normal;
}
.section_head span {
	color: rgb(136, 136, 136);
}
.section_head span strong {
	color: rgb(220, 0, 0);
}
.section_head div {
	float: right;
}
.section_head div select {
	margin: 0px;
}
h5.subtit {
	color: rgb(68, 68, 68); padding-bottom: 6px; clear: both; font-size: 12px; margin-top: 20px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
#login_box {
	margin: 195px auto 50px; width: 550px; height: auto;
}
#login_box div.box {
	background: rgb(51, 51, 51); border: 2px solid rgb(230, 230, 230); border-image: none; margin-top: 18px;
}
#login_box div.box > div {
	padding: 49px 0px 63px; border-bottom-color: rgb(224, 25, 25); border-bottom-width: 3px; border-bottom-style: solid; position: relative;
}
#login_box div.box p {
	margin-bottom: 32px;
}
#login_box div.box form {
	margin: 0px 0px 0px 138px; width: 188px; overflow: hidden;
}
#login_box div.box label {
	width: 27px; text-align: left; padding-top: 5px; float: left; display: block;
}
#login_box div.box input {
	padding: 0px 5px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 148px; height: 20px; color: rgb(0, 0, 0); font-weight: bold; margin-bottom: 6px; float: left; display: block;
}
#login_box div.box button {
	background: url("../imgs/login/btn_login_bg.png") no-repeat left top; left: 335px; top: 100px; width: 73px; height: 50px; color: rgb(255, 255, 255); font-size: 12px; position: absolute;
}
.analysis_area {
	padding: 12px 14px 16px; border: 4px solid rgb(217, 217, 217); border-image: none; overflow: hidden; clear: both; margin-bottom: 20px;
}
.analysis_area p {
	background: url("../imgs/icon/icon_squar_gray2px.gif") no-repeat left; padding: 0px 0px 0px 8px; color: rgb(102, 102, 102); line-height: 16px; font-size: 11px;
}
.analysis_area p strong {
	color: rgb(224, 25, 25);
}
.notice {
	margin: 17px 0px; overflow: hidden;
}
.notice dt {
	background: url("../imgs/notice_bg.jpg") no-repeat left top; padding: 4px 4px 3px; width: 96px; color: rgb(255, 255, 255); letter-spacing: -0.1em; font-size: 0.9em; font-weight: bold; float: left;
}
.notice dd {
	padding: 4px 0px 0px; float: left;
}
.notice dd span {
	color: rgb(136, 136, 136); padding-left: 20px;
}
.main_cont {
	overflow: hidden;
}
.main_cont li.pro {
	width: 415px; float: left;
}
.main_cont li.claim {
	width: 415px; float: right;
}
.menu_list {
	overflow: hidden; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.menu_list dt {
	background: rgb(244, 244, 244); padding: 8px 0px 6px; width: 20%; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.menu_list dt a {
	padding: 0px 15px; color: rgb(68, 68, 68);
}
.menu_list dd {
	padding: 9px 0px 6px; width: 80%; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.menu_list dd a {
	padding: 0px 8px; color: rgb(119, 119, 119); font-size: 11px;
}
.paging {
	text-align: center; margin-top: 10px;
}
.paging::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.paging span {
	margin: 0px auto; display: inline-block;
}
.paging span a {
	padding: 0px 6px; color: rgb(102, 102, 102); line-height: 22px; font-family: Verdana; font-size: 12px; float: left; display: block;
}
.paging span span {
	padding: 0px 6px; color: rgb(102, 102, 102); line-height: 22px; font-family: Verdana; font-size: 12px; float: left; display: block;
}
.paging span strong {
	color: rgb(0, 0, 0);
}
.paging span .prev {
	padding: 0px;
}
.paging span .first {
	padding: 0px;
}
.paging span .last {
	padding: 0px;
}
.paging span .next {
	padding: 0px;
}
.paging span .first {
	margin-right: 3px;
}
.paging span .last {
	margin-left: 3px;
}
.paging span img {
	vertical-align: middle;
}
.t_form {
	clear: both; border-top-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; table-layout: fixed;
}
.t_form th {
	padding: 8px 15px; text-align: left; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(245, 245, 245);
}
.t_form th.bg {
	background-color: rgb(255, 253, 191);
}
.t_form td {
	padding: 8px; text-align: left; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.t_form td.title {
	text-align: left;
}
.t_form td.gray_bg {
	background-color: rgb(245, 245, 245);
}
.t_list {
	clear: both; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; table-layout: fixed;
}
.t_list thead {
	background-color: rgb(245, 245, 245);
}
.t_list thead.yellow {
	background: rgb(253, 248, 228);
}
.t_list thead.yellow th {
	color: rgb(176, 67, 0);
}
.t_list thead th {
	padding: 5px 0px; text-align: center; color: rgb(68, 68, 68); font-size: 12px; font-weight: normal; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.t_list tbody {
	background-color: rgb(255, 255, 255);
}
.t_list tbody td {
	padding: 8px 0px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.t_list tbody td.left {
	padding: 8px 10px; text-align: left;
}
.t_list tbody td.qna_cont {
	background: rgb(248, 248, 248); padding: 20px; text-align: left;
}
.t_list tbody.total {
	background-color: rgb(245, 245, 245);
}
.t_list tfoot {
	background-color: rgb(245, 245, 245);
}
.t_list tfoot th {
	padding: 8px 0px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: bold; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.t_list tfoot td {
	padding: 8px 0px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: bold; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.t_list tfoot td.bt {
	border-top-color: rgb(221, 221, 221); border-top-width: 2px; border-top-style: solid;
}
.t_list tbody td.no_bl {
	border-right-color: currentColor; border-bottom-color: rgb(221, 221, 221); border-right-width: 0px; border-bottom-width: 1px; border-right-style: none; border-bottom-style: solid;
}
.t_list tbody td.no_bt {
	border-right-color: currentColor; border-bottom-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-right-style: none; border-bottom-style: none;
}
.t_list tbody td.left {
	padding: 8px 10px; text-align: left;
}
.td_yellow {
	background: rgb(253, 248, 228);
}
.t_list tbody.total {
	background-color: rgb(253, 248, 228);
}
.t_list tbody.total td {
	font-weight: bold;
}
.t_yellow {
	clear: both; border-top-color: rgb(231, 229, 179); border-left-color: rgb(231, 229, 179); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; table-layout: fixed;
}
.t_yellow thead {
	background-color: rgb(254, 253, 221);
}
.t_yellow thead th {
	padding: 8px 0px; text-align: center; color: rgb(140, 137, 54); font-size: 12px; font-weight: normal; border-right-color: rgb(231, 229, 179); border-bottom-color: rgb(231, 229, 179); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.t_yellow tbody {
	background-color: rgb(255, 255, 255);
}
.t_yellow tbody td {
	padding: 8px 0px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; border-right-color: rgb(231, 229, 179); border-bottom-color: rgb(231, 229, 179); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.t_yellow tbody td.goods {
	padding: 5px 10px; text-align: left;
}
.t_yellow tbody td.goods div {
	position: relative; min-height: 70px;
}
.t_yellow tbody td.goods div img {
	width: 70px; height: 70px; position: absolute;
}
.t_yellow tbody td.goods div p {
	padding-left: 80px;
}
.t_order_pro {
	clear: both; table-layout: fixed;
}
.t_order_pro thead {
	background-color: rgb(253, 248, 228);
}
.t_order_pro thead th {
	padding: 8px 0px 6px; text-align: center; color: rgb(176, 67, 0); font-size: 12px; font-weight: normal; border-bottom-color: rgb(231, 229, 179); border-bottom-width: 1px; border-bottom-style: solid;
}
.t_order_pro tbody {
	background-color: rgb(255, 255, 255);
}
.t_order_pro tbody td {
	padding: 8px 0px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; border-bottom-color: rgb(231, 229, 179); border-bottom-width: 1px; border-bottom-style: solid;
}
.t_order_pro tbody td.left {
	padding: 8px 10px; text-align: left;
}
.t_order_pro tbody td.no_bl {
	border-right-color: currentColor; border-bottom-color: currentColor; border-right-width: 0px; border-bottom-width: 0px; border-right-style: none; border-bottom-style: none;
}
.square_blue {
	background: url("../imgs/icon/icon_square_ring.gif") no-repeat 5px 3px; color: rgb(49, 145, 183); padding-left: 14px; font-size: 11px;
}
.square_orange {
	background: url("../imgs/icon/icon_square_ring_orange.gif") no-repeat 5px 3px; color: rgb(252, 119, 1); padding-left: 14px; font-size: 11px;
}
.code_info {
	background: rgb(246, 246, 246); padding: 20px; border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(119, 119, 119); line-height: 18px; margin-top: 10px;
}
.code_info strong {
	color: rgb(220, 0, 0);
}
.code_info span {
	background: url("../imgs/icon/icon_point1.gif") no-repeat left 3px; padding: 0px 0px 0px 15px;
}
.replacement {
	padding: 10px; font-size: 11px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
.replacement h2 {
	margin: 0px 0px 10px; font-size: 12px; font-weight: bold;
}
.replacement h2 span {
	color: rgb(49, 145, 183); font-size: 11px; font-weight: normal; margin-left: 10px;
}
.replacement p {
	margin: 10px 10px 5px; color: rgb(68, 68, 68); font-size: 12px; font-weight: bold;
}
.replacement ul li {
	background: url("../imgs/icon/icon_squar_gray2px.gif") no-repeat 5px 4px; padding-left: 11px; margin-bottom: 2px;
}
.replacement ul li span {
	color: rgb(32, 97, 121);
}
.replacement ul li.m {
	margin-top: 10px;
}
.replacement ul li.child {
	background: none;
}
.replacement ul li.child ul {
	margin: 5px 0px 7px;
}
.choose {
	overflow: hidden;
}
.choose dt {
	float: left;
}
.choose dd {
	float: left;
}
.choose dd {
	margin: 3px 10px 0px 0px;
}
.choose input {
	vertical-align: top;
}
.arrange {
	overflow: hidden;
}
.arrange li {
	margin-right: 5px; float: left;
}
.bt-hz-area {
	overflow: hidden;
}
.bt-hz-area .ltb {
	float: left;
}
.bt-hz-area .rtb {
	float: right;
}
.hint {
	background: url("../imgs/icon/menu_icon_board.gif") no-repeat left 3px; padding-left: 10px;
}
.taxfree {
	padding: 1px 0px; width: 80px; text-align: center; color: rgb(255, 255, 255); font-size: 11px; background-color: rgb(255, 51, 0);
}
.order_num {
	font-size: 14px; font-weight: bold;
}
.order_num span {
	color: rgb(37, 146, 223);
}
.tip_box td.contents {
	padding: 15px;
}
.tip_box td.contents div {
	background: url("../imgs/icon/icon_squar_gray2px.gif") no-repeat left 5px; line-height: 16px; padding-left: 8px; font-size: 11px;
}
.tip_box td.contents div span {
	color: rgb(220, 0, 0);
}
.basis_form {
	border: 1px solid rgb(229, 229, 229); border-image: none; float: left;
}
.basis_form td {
	padding: 5px; border: 1px solid rgb(229, 229, 229); border-image: none; text-align: left;
}
.tip_box2 {
	padding: 10px 20px; border: 1px solid rgb(221, 221, 221); border-image: none; background-color: rgb(246, 246, 246);
}
.tip_box2 span {
	background: url("../imgs/icon/icon_squar_gray2px.gif") no-repeat left 5px; line-height: 16px; padding-left: 8px; font-size: 11px;
}
.tip_box2 table {
	margin: 10px 0px; font-size: 11px; border-top-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.tip_box2 table thead th {
	padding: 4px; text-align: center; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.tip_box2 table td {
	padding: 4px 10px; text-align: center; border-right-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.select_tab {
	background: url("../imgs/bg/select_tab_bg.png") repeat-x left bottom; overflow: hidden; position: relative;
}
.select_tab ul {
	overflow: hidden;
}
.select_tab ul li {
	background: rgb(244, 244, 244); padding: 8px 0px 6px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 120px; text-align: center; margin-right: 2px; float: left;
}
.select_tab ul li a {
	color: rgb(136, 136, 136);
}
.select_tab ul li.on {
	background: rgb(255, 255, 255); font-weight: bold; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.select_tab ul li.on a {
	color: rgb(68, 68, 68);
}
.select_tab .click {
	top: 0px; right: 0px; position: absolute;
}
.sortable_title {
	overflow: hidden; margin-bottom: 10px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.sortable_title h4 {
	background: url("../imgs/icon/point.gif") no-repeat left 5px; margin: 0px; height: 25px; line-height: 25px; padding-left: 17px; font-size: 12px; font-weight: bold; float: left;
}
.sortable_title p {
	float: right;
}
.sortable {
	padding: 10px 0px 0px 20px; overflow: hidden; margin-bottom: 20px; min-width: 800px; background-color: rgb(245, 245, 245);
}
.sortable li {
	margin: 0px 20px 10px 0px; float: left; position: relative;
}
.sortable li .cb {
	margin: 0px; padding: 0px; left: 3px; top: 3px; position: absolute; z-index: 100;
}
.sortable li .mover {
	width: 100%; position: absolute; cursor: move; opacity: 0.5; -moz-opacity: 0.5;
}
.sortable li .mover div {
	border: 1px solid rgb(0, 0, 0); border-image: none; height: 18px; text-align: right; background-color: rgb(51, 51, 51);
}
.sortable li .mover div strong {
	margin: 4px 3px; color: rgb(238, 238, 238); font-family: Verdana; font-size: 8px; font-weight: bold; float: right; display: block;
}
.sortable_goods {
	min-height: 160px;
}
.sortable_goods li {
	width: 130px; overflow: hidden;
}
.sortable_goods li img {
	width: 130px; height: 130px;
}
.sortable_goods li span {
	height: 15px; padding-top: 5px;
}
.sortable_banner {
	min-height: 180px;
}
.sortable_banner li {
	width: 200px;
}
.sortable_banner li .banner {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 198px; height: 138px; overflow: hidden; background-color: rgb(255, 255, 255);
}
.sortable_banner li .swf {
	height: 118px; margin-top: 20px;
}
.sortable_banner li .caption {
	height: 18px; overflow: hidden; margin-top: 5px;
}
.sortable_banner li .caption p {
	width: 63%; line-height: 18px; float: left;
}
.sortable_banner li .caption div {
	float: right;
}
.defaultFunc {
	padding: 10px 20px; border: 1px solid rgb(221, 221, 221); border-image: none; background-color: rgb(246, 246, 246);
}
.defaultFunc h5 {
	margin: 0px 0px 5px; font-size: 11px; font-weight: bold;
}
.defaultFunc table {
	width: 100%; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid; border-collapse: collapse;
}
.defaultFunc th {
	padding: 1px; text-align: center; font-size: 11px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.defaultFunc td {
	padding: 1px; text-align: center; font-size: 11px; border-bottom-color: rgb(230, 230, 230); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.defaultFunc th {
	padding: 5px;
}
.defaultFunc td.url {
	text-align: left; padding-left: 10px;
}
.defaultFunc td img {
	cursor: pointer;
}
.defaultFunc p {
	text-align: right; font-size: 11px; margin-top: 5px;
}
.defaultFunc p a {
	color: rgb(255, 153, 0);
}
.style_select {
	overflow: hidden; border-top-color: rgb(219, 219, 219); border-top-width: 1px; border-top-style: solid;
}
.style_select li {
	padding: 6px 10px; text-align: left; float: left;
}
.style_select li.type {
	width: 110px;
}
.style_select li.select {
	padding: 6px 10px; border-left-color: rgb(219, 219, 219); border-left-width: 1px; border-left-style: solid;
}
.style_select li div span {
	padding-right: 15px;
}
#frameBox {
	width: 100%; border-collapse: collapse; table-layout: fixed;
}
#frameBox th {
	padding: 0px; text-align: left; font-weight: normal; vertical-align: top;
}
#frameBox td {
	padding: 0px; text-align: left; font-weight: normal; vertical-align: top;
}
#frameBox th .border {
	border: 1px solid rgb(214, 214, 214); border-image: none;
}
#frameBox th .border .menu {
	height: 22px; overflow: hidden; border-bottom-color: rgb(214, 214, 214); border-bottom-width: 1px; border-bottom-style: solid;
}
#frameBox th .border .menu::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
#frameBox th .border .menu dl {
	list-style: none; margin: 5px; padding: 0px; float: right; display: inline;
}
#frameBox th .border .menu dl dt {
	float: left;
}
#frameBox th .menu dl dd {
	float: left;
}
#frameBox th .border .menu dl dd {
	margin: 0px 3px;
}
#frameBox th .border .menu dl dt a {
	font-size: 11px;
}
#frameBox th .border .menu dl dt a.total {
	color: rgb(255, 0, 102); font-weight: bold;
}
#treeBox {
	margin: 0px; padding: 0px; height: 480px; overflow: hidden; position: relative; -ms-overflow-y: scroll;
}
#category {
	margin: 0px; padding: 0px; left: -13px; width: 100%; position: absolute;
}
#category a:link {
	color: rgb(119, 119, 119); line-height: 11px; font-size: 11px; text-decoration: none;
}
#category a:visited {
	color: rgb(119, 119, 119); line-height: 11px; font-size: 11px; text-decoration: none;
}
#category a:active {
	color: rgb(119, 119, 119); line-height: 11px; font-size: 11px; text-decoration: none;
}
#category a:hover {
	color: rgb(119, 119, 119); line-height: 11px; font-size: 11px; text-decoration: none;
}
#category .selected:link {
	color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; text-decoration: none;
}
#category .selected:visited {
	color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; text-decoration: none;
}
#category .selected:active {
	color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; text-decoration: none;
}
#category .selected:hover {
	color: rgb(51, 51, 51); font-size: 12px; font-weight: bold; text-decoration: none;
}
#frameBox td iframe {
	width: 100%; height: 0px;
}
#frameBox td iframe.select {
	width: 100%; height: 500px;
}
.gbox {
	padding: 3px 5px 3px 60px; border: 3px solid rgb(255, 204, 153); border-image: none; overflow: hidden; position: relative; min-height: 50px;
}
.gbox .photo {
	left: 3px; top: 3px; width: 50px; height: 50px; display: block; position: absolute;
}
.gbox .category {
	color: rgb(255, 153, 0); font-size: 11px; margin-top: 5px;
}
.gbox .taxfree {
	margin-top: 5px;
}
.gbox .dealer {
	font-size: 11px; margin-top: 5px;
}
.gbox .dealer strong {
	color: rgb(0, 102, 0); margin-right: 5px;
}
.gbox .dealer del {
	color: rgb(204, 0, 0); font-weight: bold;
}
.recom {
	margin: 5px 0px; padding: 7px 5px 0px; overflow: hidden; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
.recom dt {
	text-align: left; font-size: 11px; float: left;
}
.recom dd {
	text-align: left; font-size: 11px; float: left;
}
.recom dt {
	width: 10%; font-weight: bold;
}
.recom dd {
	width: 80%;
}
.icons {
	padding: 5px 5px 0px; text-align: center; line-height: 0; font-size: 5px; margin-bottom: 5px; border-top-color: rgb(230, 230, 230); border-top-width: 1px; border-top-style: solid;
}
.icons img {
	vertical-align: middle;
}
.order_list_btn {
	overflow: hidden; clear: both;
}
.order_list_btn li {
	width: 90%; text-align: left; margin-bottom: 8px; float: left;
}
.order_list_btn li.title {
	background: url("../imgs/icon/point.gif") no-repeat left 5px; margin: 0px; width: 80px; color: rgb(68, 68, 68); line-height: 25px; padding-left: 17px; font-size: 12px; font-weight: bold;
}
.order_list_btn li select {
	vertical-align: top;
}
ul.sms_view {
	width: 146px; clear: both;
}
ul.sms_view li.cont {
	background: url("../imgs/bg/sms_bg.gif") no-repeat left top; height: 81px; text-align: center;
}
ul.sms_view li.cont textarea {
	border: 0px currentColor; border-image: none; overflow: hidden; margin-top: 5px; -ms-word-break: break-all; background-color: transparent;
}
ul.sms_view li.byte {
	background: url("../imgs/bg/sms_bottom.gif") no-repeat left top; height: 31px; text-align: center;
}
ul.sms_view li.byte p {
	padding-top: 8px; font-size: 11px;
}
.fields {
	width: 100%; border-top-color: rgb(230, 230, 230); border-left-color: rgb(230, 230, 230); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid; border-collapse: collapse; table-layout: fixed;
}
.fields th {
	padding: 5px; text-align: center; border-right-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.fields td {
	padding: 5px; text-align: center; border-right-color: rgb(230, 230, 230); border-bottom-color: rgb(230, 230, 230); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.fields th {
	font-weight: normal; background-color: rgb(245, 245, 245);
}
.account_form {
	overflow: hidden;
}
.account_form li {
	background: url("../imgs/icon/icon_squar_gray2px.gif") no-repeat 0px 10px; padding: 5px 8px; width: 23%; text-align: left; color: rgb(102, 102, 102); line-height: 16px; font-size: 12px; float: left;
}
.banners::after {
	height: 0px; line-height: 0; clear: both; margin-bottom: 10px; display: block; visibility: hidden; content: ".";
}
.banners li {
	margin-right: 5px; float: left; min-height: 80px; min-width: 240px;
}
.banners li.first {
	min-height: 240px; min-width: 570px;
}
.banners p {
	margin: 0px; padding: 1px 5px 1px 0px; font-weight: bold; position: absolute; background-color: rgb(221, 221, 221);
}
.banners p input {
	vertical-align: middle;
}
.cash_receipt {
	overflow: hidden;
}
.cash_receipt dt {
	float: left;
}
.cash_receipt dd {
	float: left;
}
.cash_receipt dt {
	padding: 5px 0px; width: 25%; text-align: left;
}
.cash_receipt dd {
	padding: 5px; width: 70%; text-align: left;
}
